<a href="https://colab.research.google.com/github/luoChengwen/machine_learning_test/blob/master/deal_with_imbalanced_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Deal with imbalanced data

In [0]:
# !pip install imbalanced-learn

In [0]:
import numpy as np
import pandas as pd

In [0]:
import imblearn

In [25]:
imblearn.__version__

'0.4.3'

In [34]:
df1 = pd.DataFrame([1,3,4]*40, columns = ['A'])
df2 = pd.DataFrame([5,7,2]*40, columns = ['B'])
target = pd.DataFrame([1,1,1,2]*30, columns = ['T'])
df = pd.concat([df1,df2,target],axis=1)
df

     A  B  T
0    1  5  1
1    3  7  1
2    4  2  1
3    1  5  2
4    3  7  1
5    4  2  1
6    1  5  1
7    3  7  2
8    4  2  1
9    1  5  1
10   3  7  1
11   4  2  2
12   1  5  1
13   3  7  1
14   4  2  1
15   1  5  2
16   3  7  1
17   4  2  1
18   1  5  1
19   3  7  2
20   4  2  1
21   1  5  1
22   3  7  1
23   4  2  2
24   1  5  1
25   3  7  1
26   4  2  1
27   1  5  2
28   3  7  1
29   4  2  1
..  .. .. ..
90   1  5  1
91   3  7  2
92   4  2  1
93   1  5  1
94   3  7  1
95   4  2  2
96   1  5  1
97   3  7  1
98   4  2  1
99   1  5  2
100  3  7  1
101  4  2  1
102  1  5  1
103  3  7  2
104  4  2  1
105  1  5  1
106  3  7  1
107  4  2  2
108  1  5  1
109  3  7  1
110  4  2  1
111  1  5  2
112  3  7  1
113  4  2  1
114  1  5  1
115  3  7  2
116  4  2  1
117  1  5  1
118  3  7  1
119  4  2  2

[120 rows x 3 columns]

In [0]:
from imblearn.over_sampling import SMOTE

In [35]:

def makeOverSamplesSMOTE(X,y):
 #input DataFrame
 #X →Independent Variable in DataFrame\
 #y →dependent Variable in Pandas DataFrame format
 from imblearn.over_sampling import SMOTE
 sm = SMOTE()
 X, y = sm.fit_sample(X, y)
 return X,y


# sim = SMOTE()
X = df[['A','B']]
y = df[['T']]
X, y = makeOverSamplesSMOTE(X,y)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [0]:
import matplotlib.pyplot as plt

In [42]:
plt.figure()

In [58]:
print(len(df[df.loc[:,'T']==2]))
print(len(df[df.loc[:,'T']==1]))

30
90

In [71]:
print(len(y[y==2]))
print(len(y[y==1]))
y

90
90

array([1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1,
       1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2,
       1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1,
       1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2,
       1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1,
       1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2])

In [0]:
AA = pd.DataFrame(X,columns=['AA','BB'])
BB = pd.DataFrame(y,columns=['TT'])
df2= pd.concat([AA,BB],axis=1)

In [83]:
print(df2.tail(20))
print(len(df2[df2.loc[:,'TT']==2]))

     AA  BB  TT
160   4   2   2
161   4   2   2
162   3   7   2
163   4   2   2
164   4   2   2
165   3   7   2
166   1   5   2
167   3   7   2
168   3   7   2
169   4   2   2
170   4   2   2
171   1   5   2
172   1   5   2
173   1   5   2
174   4   2   2
175   4   2   2
176   1   5   2
177   4   2   2
178   3   7   2
179   4   2   2
90

In [0]:
from imblearn.over_sampling import ADASYN
sim2 = ADASYN()

In [85]:
Xa, ya = sim2.fit_sample( df[['A','B']], df[['T']])

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [88]:
len(Xa),len(ya)

(170, 170)

In [89]:
len(ya[ya==2])

80

In [90]:
len(ya[ya==1])

90